 
.base-header h3::before,
.base-header h3::after {
     background-color: #B89841;
 }
  .ylow_clr {
     color: #B89841;
 }
  .more-link {
     background: #B89841;
 }
 
 .owl-nav div:hover {
	background:#B89841;
    border: 2px solid #B89841;	
}
 
  .navigation .logo::before {
     background: #B89841;
 }
  .navigation .logo::after {
     background: #B89841 url(../../images/logo_bg.png) no-repeat;
 }
  .navigation .logo {
     background: #B89841;
 }
  .cart-inner {
     background: #B89841;
 }
 
  .search_icon_inr .btn-search {
     background: #B89841;
 }
  .cart-title:hover {
     color: #B89841;
 }
 
  .header-cart .action i:hover {
     color: #B89841;
 }
  .header-right ul li i:hover {
     color: #B89841;
 }
  .shop_setting_inr a:hover {
     color: #B89841;
 }
  .cart-button ul li a {
     border: 1px solid #B89841;
     background: #B89841;
 }
 
  .navigation {
     border-bottom: 2px solid #B89841;
 }
 
  #navigation > ul > li > .active {
     color: #B89841;
 }
 
  #navigation > ul > li:hover > a {
     color: #B89841;
 }
  #navigation ul ul li a {
     border-bottom: 1px solid #B89841;
 }
  #navigation ul ul li:hover > a,
 #navigation ul ul li a:hover {
     color: #B89841;
 }
 
 .slider_home span {
 color: #B89841;
}
.slider_btn a {
    border: 1px solid #B89841;
}
.slider_btn_one {
    background: #B89841;
}
 .slider_btn_one:hover {
	border: 1px solid #B89841;
} 
.slider_btn_two:hover {
    background: #B89841;
}

.slides__preload_wrapper {
    background: #B89841 none repeat scroll 0 0;
}
  .widget_mailchimp .mc-embedded-subscribe {
     background: #B89841;
 }
 .promotion_one{
	background: #B89841;
}
 .about-section .carousel-control {
    color:#B89841;
}
.about-section .carousel-control:hover{
	color:#B89841;
}
 .service-section .icon-serv::before {
     background: #B89841;
 }
  .service-section .row .service-item:hover .serv-left {
     color: #B89841;
 }
 .whoffer-mask a {
    color: #B89841;
}
 #accordion section:not(.ac_hidden) h2 {
  background-color:#B89841;
}
 
  .play-video {
     border: 1px solid #B89841;
     background: #B89841;
 }
 .project-filter ul li.hvr-underline-from-center.active:before {
  background:  #B89841;
}


.project_menu .hvr-underline-from-center::before {
  background: #B89841;
}
 .project-filter ul li {
    border: 2px solid #B89841;
}
 .project-filter ul li.active {
    background: #B89841;
}
 .mask2 h4 {
    color: #B89841;
}
  .testimonials-section .testimonial-box .cus-title::before {
     color: #B89841;
 }
  .testimonials-section .owl-theme .owl-controls .owl-dot.active span {} .testimonials-section .owl-theme .owl-controls .owl-dot span {
     color: #B89841;
 }
  .scrollup {
     color: #B89841;
 }
  .member .info {
     border-top: 2px solid #B89841;
     background: #B89841;
 }
  .member .social i {
     color: #B89841 !important;
 }
  
.team-section .owl-nav div {
	background:#B89841;
    border: 2px solid #B89841;
}
  .contact-form #contact-form .con-field,
 .contact-form #comment-form .con-field,
 .comment-form #contact-form .con-field,
 .comment-form #comment-form .con-field {
     border-color: -moz-use-text-color -moz-use-text-color #B89841;
 }
 
  .contact-form #contact-form #submit-contact,
 .contact-form #comment-form #submit-contact,
 .comment-form #contact-form #submit-contact,
 .comment-form #comment-form #submit-contact {
     background: #B89841;
 }
 
  .pager li a {
     border: 1px solid #B89841;
     background: #B89841;
 }
 
  .widget-search .input-group button {
     color: #B89841;
 }
  .widget .widget-title {
     color: #B89841;
     background: #F9F9F9;
 }
  .widget-tags > a:hover {
     color: #B89841;
     border-color: #B89841;
 }
  .blog-post-list .more-link {
     background: #B89841;
 }
 
 .comments li .comment span.comment-reply a {  
     border: 1px solid #B89841;
 }
  .comments li .comment span.comment-reply a:hover {
     background: #B89841;
 }
  .form-control:focus {
     border: 1px solid #B89841;
     border-bottom: 3px solid #B89841;
 }
  #contactForm .submit-button:hover {
     color: #B89841;
     border: 3px solid #B89841;
 }
 #contactForm .submit-button {
     background: #B89841;
     border: 3px solid #B89841;
 }
  .post-option .prev-post:hover,
 .post-option .next-post:hover {
     color: #B89841;
 }
 .post-option .middle-icon a {
     color: #B89841;
 }
 
  .portfolioitem .carousel-control {
     background: #B89841;
 }
  .social-icons > li > a i:hover {
     color: #B89841
 }
 .product-tag {
    background-color: #B89841;
}
  .shop-item .magnifier .buttons a {
     background: #B89841;
 }
  .cat-rating .fa.fa-star {
     color: #B89841;
 }
 
  .product_tags .tag a:hover {
     background-color: #B89841;

 }
 
  .tittle_product .next_prev a span {

     background: #B89841;

 }
  .star.yes {
     color: #B89841;
 }
 
  .detail .content span {
     color: #B89841;
 }
  .shop-product-area li .adtocart {
     border: 2px solid #B89841;
     color: #B89841;
 }
 .shop-product-area li .adtocart:hover {
     background: #B89841;
 }
 .shop-product-area .heart {
     border: 2px solid #B89841;
     color: #B89841;
 }
 .shop-product-area .heart:hover {
     background: #B89841;
 }
  .share-area i {
     background: #B89841;
 }
  a.app-coupon:hover,
 a.get-quote:hover {
     background: #B89841;
 }
  .grand-total span.amt {
     color: #B89841;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 